
.title {
	text-align: center;
}
.map {
    
}
.main {
}

.issues {
	padding-left: 0px;
	padding-right: 0px;

	tr {
		cursor:pointer;
	}
}
.nopadding {
	padding:0px;
}
.info {
	button {
	border-radius:0px;
	}
}